flask
python-dotenv
pypdf
pinecone-client
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-pinecone
langchain-huggingface
langchain-groq
tiktoken
gunicorn
sentence-transformers